<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${grossSalesView.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">组织：</label>
								<div class="col-sm-8">
									<input id="zz" name="zz" th:value="${grossSalesView.zz}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">公司编码：</label>
								<div class="col-sm-8">
									<input id="gsbm" name="gsbm" th:value="${grossSalesView.gsbm}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">应收单号：</label>
								<div class="col-sm-8">
									<input id="ysdh" name="ysdh" th:value="${grossSalesView.ysdh}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">应收行号：</label>
								<div class="col-sm-8">
									<input id="yshh" name="yshh" th:value="${grossSalesView.yshh}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">应收日期：</label>
								<div class="col-sm-8">
									<input id="ysrq" name="ysrq" th:value="${grossSalesView.ysrq}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">客户编码：</label>
								<div class="col-sm-8">
									<input id="khbm" name="khbm" th:value="${grossSalesView.khbm}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">客户名称：</label>
								<div class="col-sm-8">
									<input id="khmc" name="khmc" th:value="${grossSalesView.khmc}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">物料编码：</label>
								<div class="col-sm-8">
									<input id="wlbh" name="wlbh" th:value="${grossSalesView.wlbh}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">仓库编码：</label>
								<div class="col-sm-8">
									<input id="ckbm" name="ckbm" th:value="${grossSalesView.ckbm}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">仓库名称：</label>
								<div class="col-sm-8">
									<input id="ckmc" name="ckmc" th:value="${grossSalesView.ckmc}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">销售出库单号：</label>
								<div class="col-sm-8">
									<input id="xsckdh" name="xsckdh" th:value="${grossSalesView.xsckdh}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">销售出库单行号：</label>
								<div class="col-sm-8">
									<input id="xsckdhh" name="xsckdhh" th:value="${grossSalesView.xsckdhh}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出库日期：</label>
								<div class="col-sm-8">
									<input id="ckrq" name="ckrq" th:value="${grossSalesView.ckrq}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出库数量：</label>
								<div class="col-sm-8">
									<input id="cksl" name="cksl" th:value="${grossSalesView.cksl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出库单位：</label>
								<div class="col-sm-8">
									<input id="ckdw" name="ckdw" th:value="${grossSalesView.ckdw}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出库基本数量：</label>
								<div class="col-sm-8">
									<input id="ckjbsl" name="ckjbsl" th:value="${grossSalesView.ckjbsl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出库基本单位：</label>
								<div class="col-sm-8">
									<input id="ckjbdw" name="ckjbdw" th:value="${grossSalesView.ckjbdw}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">币别：</label>
								<div class="col-sm-8">
									<input id="bb" name="bb" th:value="${grossSalesView.bb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">单位实际成本：</label>
								<div class="col-sm-8">
									<input id="dwsjcb" name="dwsjcb" th:value="${grossSalesView.dwsjcb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">实际成本：</label>
								<div class="col-sm-8">
									<input id="sjcb" name="sjcb" th:value="${grossSalesView.sjcb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">应收金额：</label>
								<div class="col-sm-8">
									<input id="ysje" name="ysje" th:value="${grossSalesView.ysje}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">应收金额本位币：</label>
								<div class="col-sm-8">
									<input id="ysjebwb" name="ysjebwb" th:value="${grossSalesView.ysjebwb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票数量：</label>
								<div class="col-sm-8">
									<input id="fpsl" name="fpsl" th:value="${grossSalesView.fpsl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票计量单位：</label>
								<div class="col-sm-8">
									<input id="fpjldw" name="fpjldw" th:value="${grossSalesView.fpjldw}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票基本数量：</label>
								<div class="col-sm-8">
									<input id="fbjbsl" name="fbjbsl" th:value="${grossSalesView.fbjbsl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票基本计量单位：</label>
								<div class="col-sm-8">
									<input id="fbjbjldw" name="fbjbjldw" th:value="${grossSalesView.fbjbjldw}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票成本：</label>
								<div class="col-sm-8">
									<input id="fpcb" name="fpcb" th:value="${grossSalesView.fpcb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">未开票数量：</label>
								<div class="col-sm-8">
									<input id="wkpsl" name="wkpsl" th:value="${grossSalesView.wkpsl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">未开票的成本：</label>
								<div class="col-sm-8">
									<input id="wkpcb" name="wkpcb" th:value="${grossSalesView.wkpcb}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">毛利率：</label>
								<div class="col-sm-8">
									<input id="mll" name="mll" th:value="${grossSalesView.mll}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/grossSalesView/edit.js">
	</script>
</body>
</html>
