<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fm.dao.GrossDao">

	<select id="get" resultType="com.bootdo.fm.domain.GrossDO">
		select `id`,`origin`,`username`,`password`,`status`,`remark`,`create_time`,`creator`,`mod_time`,`modifier` from fm_gross where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fm.domain.GrossDO">
		select `id`,`origin`,`username`,`password`,`status`,`remark`,`create_time`,`creator`,`mod_time`,`modifier` from fm_gross
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="origin != null and origin != ''"> and origin = #{origin} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="modTime != null and modTime != ''"> and mod_time = #{modTime} </if>
		  		  <if test="modifier != null and modifier != ''"> and modifier = #{modifier} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from fm_gross
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="origin != null and origin != ''"> and origin = #{origin} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="password != null and password != ''"> and password = #{password} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="creator != null and creator != ''"> and creator = #{creator} </if>
		  		  <if test="modTime != null and modTime != ''"> and mod_time = #{modTime} </if>
		  		  <if test="modifier != null and modifier != ''"> and modifier = #{modifier} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fm.domain.GrossDO">
		insert into fm_gross
		(
			`id`, 
			`origin`, 
			`username`, 
			`password`, 
			`status`, 
			`remark`, 
			`create_time`, 
			`creator`, 
			`mod_time`, 
			`modifier`
		)
		values
		(
			#{id}, 
			#{origin}, 
			#{username}, 
			#{password}, 
			#{status}, 
			#{remark}, 
			#{createTime}, 
			#{creator}, 
			#{modTime}, 
			#{modifier}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fm.domain.GrossDO">
		update fm_gross 
		<set>
			<if test="origin != null">`origin` = #{origin}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="creator != null">`creator` = #{creator}, </if>
			<if test="modTime != null">`mod_time` = #{modTime}, </if>
			<if test="modifier != null">`modifier` = #{modifier}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from fm_gross where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from fm_gross where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>